.cointainter {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.col-2 {
    width: 50%;
    float:left;
}
.calendar, .note {
    padding: 15px;
}
table td {
    text-align: center;
}
table p.date:hover {
    cursor: pointer;
    text-decoration: underline;
}
.active {
    font-weight: bold;
}
.calendar table, .note textarea {
    width: 100%;
}
.note button {
    float:right;
    margin-bottom: 10px;
    cursor: pointer;
}